<?xml version="1.0"?>

<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
xmlns:interface="http://ros.org/wiki/xacro"
xmlns:xacro="http://ros.org/wiki/xacro"
>
  <xacro:arg name="prefix" default="quadrotor"/>

  <xacro:include filename="$(find cvg_sim_gazebo_plugins)/urdf/quadrotor_plugins.urdf.xacro" />
  <!--<xacro:property name="pi" value="3.1415926535897931" />-->

  <!-- Main quadrotor link -->
  <xacro:macro name="quadrotor_base_macro" params="prefix">
    <link name="${prefix}_base_link">

      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://cvg_sim_gazebo/meshes/quadrotor/quadrotor_4.dae"/>
        </geometry>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://cvg_sim_gazebo/meshes/quadrotor/quadrotor_4.stl"/>
        </geometry>
      </collision>

    </link>

    <link name="${prefix}_dummy_link">

	      <inertial>
        	<mass value="0.436" /> <!--value="1.477" />-->
        	<origin xyz="0 0 0" />
        	<!--<inertia ixx="0.01152" ixy="0.0" ixz="0.0" iyy="0.01152" iyz="0.0" izz="0.0218" />-->
          <!-- <inertia ixx="0.0347563" ixy="0.0" ixz="0.0" iyy="0.0458929" iyz="0.0" izz="0.0977" /> -->
          <inertia ixx="0.0045" ixy="0.0" ixz="0.0" iyy="0.0051" iyz="0.0" izz="0.0095" />
      	</inertial>

    </link>

    <joint name="${prefix}_dummy_joint" type="fixed">
 	        <parent link="${prefix}_base_link"/>
          <child link="${prefix}_dummy_link"/>
    </joint>



    <gazebo reference="${prefix}_base_link">
      <turnGravityOff>false</turnGravityOff>
    </gazebo>

    <!-- Gazebo Plugins -->
    <quadrotor_plugins prefix="${prefix}"/>
  </xacro:macro>
</robot>
