<?xml version="1.0"?>

<robot
xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
xmlns:xacro="http://ros.org/wiki/xacro"
>
<xacro:arg name="prefix" default="quadrotor"/>
  <!-- Quadrotor Simple Controller Plugin -->
  <xacro:macro name="quadrotor_controller" params="prefix">
    <gazebo>
      <plugin name="quadrotor_simple_controller" filename="libhector_gazebo_quadrotor_simple_controller.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <bodyName>${prefix}_base_link</bodyName>
        <stateTopic>ground_truth/state</stateTopic>
        <imuTopic>ardrone/imu</imuTopic>
        <navdataTopic>ardrone/navdata</navdataTopic>
        <resetTopic>ardrone/reset</resetTopic>
        <topicName>cmd_vel</topicName>
        <rollpitchProportionalGain>10.0</rollpitchProportionalGain>
        <rollpitchDifferentialGain>5.0</rollpitchDifferentialGain>
        <rollpitchLimit>0.5</rollpitchLimit>
        <yawProportionalGain>2.0</yawProportionalGain>
        <yawDifferentialGain>1.0</yawDifferentialGain>
        <yawLimit>1.5</yawLimit>
        <velocityXYProportionalGain>5.0</velocityXYProportionalGain>
        <velocityXYDifferentialGain>1.0</velocityXYDifferentialGain>
        <velocityXYLimit>2</velocityXYLimit>
        <velocityZProportionalGain>7.0</velocityZProportionalGain>
        <velocityZDifferentialGain>0.0</velocityZDifferentialGain>
        <velocityZLimit>1.0</velocityZLimit>
        <maxForce>30</maxForce>
        <motionSmallNoise>0.02</motionSmallNoise>
        <motionDriftNoise>0.07</motionDriftNoise>
        <motionDriftNoiseTime>0.8</motionDriftNoiseTime> <!--5.0-->
      </plugin>

      <plugin name="quadrotor_state_controller" filename="libhector_gazebo_quadrotor_state_controller.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <bodyName>${prefix}_base_link</bodyName>
        <stateTopic>ground_truth/state</stateTopic>
        <imuTopic>ardrone/imu</imuTopic>
        <sonarTopic>sonar_height</sonarTopic>
        <topicName>cmd_vel</topicName>
        <navdataTopic>ardrone/navdata</navdataTopic>
        <navdatarawTopic>ardrone/navdata_raw_measures</navdatarawTopic>
        <resetTopic>ardrone/reset</resetTopic>
        <takeoffTopic>ardrone/takeoff</takeoffTopic>
        <landTopic>ardrone/land</landTopic>
      </plugin>
    </gazebo>
  </xacro:macro>
</robot>
